
<!DOCTYPE html>
<html>
<head>
<title>Developer Website</title>
</head>
<body>
<h1>Welcome to the Developer Website</h1>
<p>
This website provides resources and tutorials for developers of all levels.
Whether you're just starting out or you're a seasoned pro, you'll find something
here to help you learn and grow.
</p>
<ul>
<li><a href="/tutorials">Tutorials</a></li>
<li><a href="/resources">Resources</a></li>
<li><a href="/forum">Forum</a></li>
<li><a href="/profile">Profile</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/register">Register</a></li>
</ul>
</body>
</html>

---
